# Godot 4+ specific ignores
.godot/
/android/

**/*.import
**/*.uuid

# Android / Gradle
**/build/
**/.gradle/
**/local.properties
**/*.apk
**/*.ap_
**/*.dex
**/*.class
**/bin/
**/gen/

# IDEs
.idea/
*.iml
.vscode/
.DS_Store
captures/
Thumbs.db
desktop.ini

# Temporary / OS
capture/
*.log
*.tmp

# Backups
/backup/
*.bak
*.backup
*.old

# Archive files
*.rar
*.zip
*.7z